[submodule "ContractBot"]
	path = ContractBot
	url = https://github.com/SEIU/ContractBot
[submodule "DataCleaningSingapore"]
	path = DataCleaningSingapore
	url = git@github.com:DavidMertz/DataCleaningSingapore.git
[submodule "pdf-recognition"]
	path = pdf-recognition
	url = https://github.com/SEIU/pdf-recognition
[submodule "metrics-calculator"]
	path = metrics-calculator
	url = https://github.com/SEIU-Tech/metrics-calculator
[submodule "BitDrop"]
	path = BitDrop
	url = git@github.com:SEIU-Tech/BitDrop.git
